<head>
  <title>Goa Space Survival</title>
  <script charset="utf-8" type="text/javascript" src="https://github.com/photonstorm/phaser/releases/download/v2.4.3/phaser.min.js">></script>
</head>

<body>
  {{#if getUsername}}
    {{> game}}
  {{else}}
  <header>
    <h2>Goa Space Survival</h2>
    <p>Controls: UP or W to move forward, LEFT/RIGHT or A/D to rotate &amp; Spacebar to shoot</p>
  </header>
    <form>
      <h3>Enter your username to get started!</h3>
      <input id="username" type="text" maxlength="15" autofocus="true">
    </form>
  {{/if}}
</body>

<template name="game">
  <div id="container">
    <header>
      <h2>Goa Space Survival</h2>
      <p>Controls: UP or W to move forward, LEFT/RIGHT or A/D to rotate &amp; Spacebar to shoot</p>
    </header>
    {{game}}
    {{> highscores}}
  </div>
</template>
